mixin storeForm(store = {})
   // p This is storeform mixin! #{store.name}
   form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name")
    label(for="description") Description
    textarea(name="description")
    - const choices = ['Dangerous', 'Strong', 'Boxer', 'Panther', 'Tiger']
    ul.tags
     each choice in choices
      .tag.tag__choice
        input(type="checkbox" id=choice value=choice name="tags")
        lable(for=choice) #{choice}
    input(type="submit" value="Save-<" class="button")